<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessibilityUsageDescription</key>
	<string>AI Thing needs accessibility access to detect text selection.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>This app needs screen recording permission to capture screenshots.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>oauth-aithing</string>
			</array>
		</dict>
	</array>
	<key>SUPublicEDKey</key>
	<string>MvgCWQ5S7mssgjCSAS7S5WLphDngqqSoDtZKW2kPtuY=</string>
	<key>SUFeedURL</key>
	<string>https://download.aithing.dev/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
</dict>
</plist>
